nav{
    background: rgb(255,111,0);
    background: linear-gradient(180deg, rgba(255,111,0,1) 0%, rgba(250,241,105,1) 85%); 
    height: 70px;
}

.refeer{
    color: black;
    cursor: pointer;
    transition: 100ms;
    width: 200px;
    text-decoration: none;
    background-color: #FCAF3C;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.refeer:hover{
    scale: 1.1;
    cursor: pointer;
}

.imgLogo{
    width: 120px;
    height: 60px;
}